#carousel-testimonial{
    // width:475px;
    // height:300px;
    margin:0 auto;
    .carousel-indicators{
        li{
            border-color:darken($grey, 20%);
            &.active{
                background-color: darken($grey, 20%);
            }
        }
    }
    .carousel-inner{
        width:475px;
        margin:0 auto;
        .item{
            min-height:280px;
            .carousel-caption{
                position:initial;
                color:darken($grey, 30%);
                text-shadow:none;
                padding:0 0 60px 0;
            }
            img{
                padding:0;
                margin: 0;
            }
            // height:300px;
            &.active{

            }
        }
    }

}
